<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="page-index">
    <!-- <header id="header" class="header d-flex align-items-center ">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <h1 class="d-flex align-items-center">Laman Login</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                  </ul>
            </a>
        </div>
    </header> -->
    <section id="satu" class="satu d-flex align-items-center" >
        
        <div class="container-fluid">
            <div class="row">
                
                <div class="awal col-lg-12 col-sm-12 mt-5 text-center text-white">
                    
                    
                    <div style="margin-top: 170px;">
              
                        <a href="/login" class="btn-lg btn-primary">START</a>
                    
                    </div>
                </div>
               

                
            </div>
        </div>
    </section>
</body>
</html>
