<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sri Alia Rosidah</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="page-index">
    <!-- <header id="header" class="header d-flex align-items-center ">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <h1 class="d-flex align-items-center">Laman Login</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                  </ul>
            </a>
        </div>
    </header> -->
    <section id="hero" class="hero d-flex align-items-center" >
        
        <div class="container-fluid">
            <div class="row">
                
                <div class="kiri col-lg-6 col-sm-6  text-center text-white">
                    
                    <h2 data-aos="fade-up">Login to See The Winner</h2>
                    
                    <div>
                        <!-- <form action="/action_page.php" class="mt-5 text-center">
                            <label for="fname">Email:</label><br>
                            <input type="text" id="fname" name="fname" value=""><br><br>
                            <label for="lname">Password:</label><br>
                            <input type="text" id="lname" name="lname" value=""><br><br>
                            <input type="submit" value="Submit">
                        </form> -->
                        <br><br>
                        <a href="/auth/google" class="btn btn-primary">Login with Google</a>
                    
                    </div>
                </div>
                <div class="kanan col-lg-6 text-white">
                    <div id="run11" class="run1">
                        <img src="/picture/run.gif" width="150" height="120" alt="">
                    </div>
                    <div id="run21" class="run2">
                        <img src="/picture/run2.gif" width="140" height="120" alt="">
                    </div>
                  <div id="run31" class="run3">
                    <img src="/picture/run3.gif" width="100" height="88" alt="">
                  </div>
                  <div id="run41" class="run4">
                    <img src="/picture/run4.gif" width="80" height="70" alt="">
                  </div>
                </div>

                <div id="run11">Element 1</div>
                <div id="run21">Element 2</div>
                <div id="run31">Element 3</div>
                <div id="run41">Element 4</div>
                
                <script>
                    const run11 = document.getElementById('run11');
                    run11.addEventListener('animationend', () => {
                        run11.style.animation = 'none';
                        run11.style.right = '80%';
                    });
                
                    const run21 = document.getElementById('run21');
                    run21.addEventListener('animationend', () => {
                        run21.style.animation = 'none';
                        run21.style.right = '80%';
                    });
                
                    const run31 = document.getElementById('run31');
                    run31.addEventListener('animationend', () => {
                        run31.style.animation = 'none';
                        run31.style.right = '87%';
                    });

                    const run41 = document.getElementById('run41');
                    run41.addEventListener('animationend', () => {
                        run41.style.animation = 'none';
                        run41.style.right = '88%';
                    });
                </script>
                
            </div>
        </div>
    </section>
</body>
</html>
